.title {
  margin: 47px auto 23px auto;
  font-size: 36px;
  line-height: 34px;
  text-align: center;
  color: white;
  font-family: Exo2_0Thin;
}

.textShadow {
  text-shadow: 0px 1px 0px #000000;
}

.grid {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}
