@font-face {
  font-family: "Exo2_0Thin";
  src: url("../fonts/Exo2_0Thin.eot");
  src: url("../fonts/Exo2_0Thin.eot") format("embedded-opentype"), url("../fonts/Exo2_0Thin.woff2") format("woff2"),
    url("../fonts/Exo2_0Thin.woff") format("woff"), url("../fonts/Exo2_0Thin.ttf") format("truetype"),
    url("../fonts/Exo2_0Thin.svg#Exo2_0Thin") format("svg");
}
