body {
  margin: 0;
  padding: 0;
  font-family: "TrebuchetMS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: fixed url(../img/layout.png) 70px 70px repeat white;
  background-size: 70px;
}

.shadow {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, black, transparent, black);
  opacity: 0.5;
}
