$card-width: 320px;
$card-height: 480px;
$card-border-radius: 10px;
$border-width: 4px;
$border-radius: 6px;
$selected-color: #d91667;
$selected-hover-color: #e62e7a;
$default-color: #1698d9;
$default-hover-color: #2ea8e6;
$disabled-color: gray;
$disabled-overlay-color: rgba(255, 255, 255, 0.5);
$corner-width: 45px;
$white-background-color: rgb(242, 242, 242);
$corner-height: 45px;
$disabled-text-color: rgb(212, 212, 212);
