@import "../../css/variables.scss";
.mainItemRoot {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.mainItemCard {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: $card-width;
  height: $card-height;
  border-radius: $card-border-radius;
  overflow: hidden;
}

.mainItemCardBackground {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(100% - #{$corner-height});
  width: 100%;
  margin-top: $corner-height;
  background: $default-color;
}

.mainItemCardBackground::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -$corner-height;
  width: calc(100% - #{$corner-width});
  border-bottom: $corner-height solid $default-color;
  border-left: $corner-width solid transparent;
}

.disabledOverlay {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  z-index: 2;
}

.disabledOverlayBackground {
  height: calc(100% - #{$corner-height});
  width: 100%;
  margin-top: $corner-height;
  background: $disabled-overlay-color;
}

.disabledOverlayBackground::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: calc(100% - #{$corner-width});
  border-bottom: $corner-height solid $disabled-overlay-color;
  border-left: $corner-width solid transparent;
}

.wasSelected .mainItemCard.hover .mainItemCardBackground {
  background: $default-hover-color;
}

.wasSelected .mainItemCard:hover .mainItemCardBackground::before {
  border-bottom-color: $default-hover-color;
}

.selected .mainItemCardBackground {
  background: $selected-color;
}

.selected .mainItemCardBackground::before {
  border-bottom-color: $selected-color;
}

.wasSelected .selected:hover .mainItemCardBackground {
  background: $selected-hover-color;
}

.wasSelected .selected:hover .mainItemCardBackground::before {
  border-bottom-color: $selected-hover-color;
}

.disabled .mainItemCardBackground {
  background: $disabled-color;
}

.disabled .mainItemCardBackground::before {
  border-bottom-color: $disabled-color;
}

.mainItem {
  position: relative;
  width: calc(100% - #{$border-width} * 2);
  height: calc(100% - #{$border-width} * 2);
  color: black;
  border-radius: $border-radius;
  overflow: hidden;
}

.mainItemBackground {
  position: absolute;
  bottom: 0;
  height: calc(100% - #{$corner-height} + #{$border-width}* 0.7);
  width: 100%;
  margin-top: $corner-height;
  background: $white-background-color;
}

.mainItemBackground::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -$corner-height;
  width: calc(100% - #{$corner-width});
  border-bottom: $corner-height solid $white-background-color;
  border-left: $corner-width solid transparent;
}

.cat {
  position: absolute;
  height: 371px;
  bottom: -96px;
  left: -32px;
}

.buy {
  background: none;
  border: none;
  color: $default-color;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dashed#1698d9;
  cursor: pointer;
  cursor: hand;
}

.buy:hover {
  color: $default-hover-color;
}

.badge {
  position: absolute;
  bottom: 16px;
  right: 16px;
  height: 79px;
  width: 79px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: $default-color;
  font-weight: bold;
}

.mass {
  font-size: 42px;
  margin-bottom: -8px;
  font-weight: normal;
}

.kg {
  font-size: 21px;
  font-weight: normal;
}

.wasSelected .mainItemCard:hover .badge {
  background: $default-hover-color;
}

.mainItemCard.selected .badge {
  background: $selected-color;
}

.wasSelected .mainItemCard.selected:hover .badge {
  background: $selected-hover-color;
}

.mainItemCard.disabled .badge {
  background: $disabled-color;
}

.description {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: -23px 42px;
}

.muted {
  color: grey;
}

.comment {
  font-weight: bold;
  margin-bottom: 67px;
  margin-top: 16px;
  font-size: 13px;
  width: $card-width;
  text-align: center;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .comment {
    letter-spacing: -0.2px;
  }
}

.text1 {
  font-weight: bold;
  margin: 0;
  line-height: 18px;
  z-index: 1;
  font-size: 16px;
}

.text2 {
  font-size: 46px;
  margin: 0;
  letter-spacing: 2px;
}

.text3 {
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 15px 3px;
}

.selectedText {
  color: $selected-hover-color;
}

.addons {
  line-height: 16px;
  font-size: 14px;
}

.disabled .muted {
  color: $disabled-text-color;
}

.disabled .text2,
.disabled .text3 {
  color: $disabled-text-color;
}

.disabled.comment {
  color: rgb(233, 233, 92);
}